body{
    font-family: "Lato" !important;
}

.container-fluid{
    padding: 0 !important;
}

/* PART ONE: COVER + HEADINGS */
.cover{
    color:white;

    background-image: url("img/mainstreet.PNG");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;

    height:100%;
}

.cover .logo{
    padding-top: 5vh;
    padding-left:5vw;
}

.cover .name{
    position:relative;
    top:30vh;
    font-size:4vw;
    font-weight:500;
}

.cover .name h1{
    letter-spacing: 3px;
}


/* NAV */
.nav{
    position:fixed;
    right:5vw;
    top:50%;
}

.nav ul{
    list-style-type: none;
}

.nav ul li{
    padding-top:5vh;
}

.nav ul a{
    color:black;
    text-align:left;
}


/* PART TWO: ABOUT ME */
.aboutMe{
    height:100%;
}

.aboutMe h1{
    letter-spacing: 3px;
}

.aboutMe hr{
    width:80vw;
}