body{
    font-family: "Montserrat" !important;
    color:white !important;
}

.section-header{
    letter-spacing: 5px;
}

.container-fluid{
    padding-left:0 !important;
    padding-right:0 !important;
    width:100vw;
    overflow-x: hidden !important;
}

.row{
    margin-right: 0 !important;
    margin-left: 0 !important;

    padding-right: 0 !important;
    padding-left: 0 !important;

}

/* NAV */
.menu{
    position:fixed;
    top:7vh;
    right:5vw;
    text-align:right;
}

.nav{
    display:none;
}

.active{
    display: block;
}

.nav a{
    text-decoration:none;
    color:white;
    display:block;
    padding-top:4vh;
}
.nav a:hover{
    color:rgb(200,200,200);
    text-decoration:none;
}

.menu button{
    background-color:rgba(0,0,0,0) !important;
    border:none;
}

/* PART ONE: COVER + HEADINGS */
.cover{
    background-color:#697e8d;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;

    height:100%;
}

.cover .logo{
    padding-top: 5vh;
    padding-left:5vw;
}

.cover .name{
    position:relative;
    top:30vh;
    font-size:4vw;
    font-weight:500;
}

.cover .name h1{
    letter-spacing: 3px;
}

/* ABOUT ME */
.about-me{
    background-color: #d6d5bd;
    font-size:1.5rem;

    padding-top: 10vh;
    padding-bottom: 10vh;
}

.about-me-wrapper{
    background-color:#aaaaa1;
    width: 65vw;
    max-width:90vw;
    margin: auto;
    left: 50%;
}

.about-me .files{
    background-color: #848484;
    margin:0;
    padding-top:6px;
    padding-bottom:5px;
}

.about-me .fileName{
    font-weight:300;
    font-size:100%; 
}

.about-me .code{
    padding-top:30px;
    padding-bottom:30px;
}

.about-me .about-me-header{
    font-size:120%;
    padding-left:15px;
}

.about-me .heading{
    font-weight:600;
    font-size:120%;
}

.about-me .basicinfo, .education, .contact-info{
    padding-top:30px;
}

/* SECT */
.sect-yr{
    font-weight:600;
}

.sect-els{
    padding-top:30px;
}

.sect-title{
    font-weight:600;
}

.sect{
    padding-top:10vh;
    padding-bottom:10vh;
}

.sect-title-n{
    font-weight:400;
    font-style:italic;
}

/* COURSEWORK */
.courses{
    background-color: #c3a670;
}

/* EXPERIENCE */
.experiences{
    background-color: #697e8c;
}

/* ACTIVITIES */
.activities{
    background-color:#aaaaa0;
}

/*CONTACT*/
.contact{
    background-color: #a74b22;
}

.contact i{
    color:white;
}

