body{
    font-family: "Montserrat" !important;
    color:white !important;
}

.section-header{
    letter-spacing: 5px;
}

/* PART ONE: COVER + HEADINGS */
.cover{
    background-color:#697e8d;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;

    height:100%;
}

.cover .logo{
    padding-top: 5vh;
    padding-left:5vw;
}

.cover .name{
    position:relative;
    top:30vh;
    font-size:4vw;
    font-weight:500;
}

.cover .name h1{
    letter-spacing: 3px;
}

/* ABOUT ME */
.about-me{
    background-color: #d6d5bd;
    font-size:1.5rem;

    padding-top: 10vh;
    padding-bottom: 10vh;
}

.about-me-wrapper{
    background-color:#aaaaa1;
    width: 65vw;
    max-width:90vw;
    margin: auto;
    left: 50%;
}

.about-me .files{
    background-color: #848484;
    margin:0;
    height:25px;
}

.about-me .fileName{
    font-weight:300;
    font-size:70%; 

}

.about-me #myinfo{
    background-color:#616161;
    height:25px;
}

.about-me .code{
    padding-top:30px;
    padding-bottom:30px;
}

.about-me .about-me-header{
    font-size:120%;
    padding-left:15px;
}

.about-me .heading{
    font-weight:600;
    font-size:120%;
}

.about-me .basicinfo, .education, .contact-info{
    padding-top:30px;
}

/* SECT */
.sect-yr{
    font-weight:600;
}

.sect-els{
    padding-top:30px;
}

.sect-title{
    font-weight:600;
}

.sect{
    padding-top:10vh;
    padding-bottom:10vh;
}

/* COURSEWORK */
.courses{
    background-color: #c3a670;
}

/* EXPERIENCE */
.experiences{
    background-color: #697e8c;
}

/* ACTIVITIES */
.activities{
    background-color:#aaaaa0;
}

/*CONTACT*/
.contact{
    background-color: #a74b22;
}

.contact i{
    color:white;
}

